/* Css General portafolio */

/* General */

:root {
    /* Paleta de colores */

    /* Fondos */
    --fondo-body: #F9F7F7;
    --header: #3F72AF;
    --navbar: #3F72AF;
    --navbar-link: #3F72AF;
    --navbar-link-hover: #DBE2EF;
    --footer: #112D4E;

    /* Titulos */
    --titulo: #3F72AF;
    --subtitulos: #88b2ff;

    /* Textos */
    --Parrafos: #181C14;

    /* Colores */
    --color-rojo: #D21312;
    --color-azul: #4F709C;
    --color-verde: #44f0b7;
    --color-amarillo: #EAC100;
    --color-blanco: #FAF8F1;
    --color-negro: #0F0F0F;
    --color-morado: #810CA8;
    --color-naranja: #FF4C29;
    --color-cafe: #E5BA73;

    /* Card */
    --color-card: #181C14;
}

/* Body */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--fondo-body);
}

/* Header */

.header {
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header {
    width: 130px;
    height: 50px;
    border-radius: 20px;
}

/* Nav */

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--navbar);
    padding: 1rem;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 2rem;
}

.nav-list a {
    color: var(--color-blanco);
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    z-index: 10;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Column */

.flex-column {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-column div {
    padding: 10px;
}

/* Row */

.flex-row {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-row div {
    padding: 10px;
    width: 45vh;
}

/* Hero */

.hero {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg_principal {
    background-image: var(--fondo);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-hero {
    width: 60vw;
    height: 250px;
    border-radius: 100px;
}

/* Slider */

.carousel {
    position: relative;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--footer);
}

footer div {
    padding: 15px;
    color: var(--color-blanco);
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}

footer ul li {
    margin: 15px;
}

footer img {
    margin: 15px;
    width: 80px;
    height: 80px;
}

.logo-linea-productos {
    width: 100px;
    height: 100px;
}

/* Estilos */

.titulo-1 {
    font-size: 10vh;
    color: var(--titulo);
}

.titulo-2 {
    font-size: 5vh;
    color: var(--subtitulos);
}

.titulo-3 {
    font-size: 4vh;
    color: var(--subtitulos);
}

.titulo-4 {
    font-size: 3vh;
    color: var(--subtitulos);
}

.titulo-5 {
    font-size: 2vh;
    color: var(--subtitulos);
}

.img-fondo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.p-5 {
    padding: 50px;
}

.p-10 {
    padding: 100px;
}

.m-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    width: 70vw;
}

br {
    margin: 10px;
}

strong {
    color: var(--titulo);
}

.bg-azul {
    background-color: var(--color-azul);
}

.bg-negro {
    background-color: var(--color-negro);
}

.bg-verde {
    background-color: var(--color-verde);
}

.bg-blanco {
    background-color: var(--color-blanco);
}

.bg-amarillo {
    background-color: var(--color-amarillo);
}

.bg-naranja {
    background-color: var(--color-naranja);
}

.bg-cafe {
    background-color: var(--color-cafe);
}

.bg-morado {
    background-color: var(--color-morado);
}

.text-blanco {
    color: var(--color-blanco);
}

.text-negro {
    color: var(--color-negro);
}

.text-rojo {
    color: var(--color-rojo);
}

.text-amarillo {
    color: var(--color-amarillo);
}

.text-morado {
    color: var(--color-morado);
}

/* Mantenimiento */

.mantenimiento {
    background-image: url(/asset/index/bg_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mantenimiento div {
    background-color: var(--color-blanco);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.mantenimiento div img {
    width: 150px;
    height: 50px;
}

/* Media Q */

@media (max-width: 768px) {

    /* Flex */
    .flex-row {
        flex-flow: column wrap;
    }

    .flex-row div {
        width: 90vh;
    }

    /* navbar */
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 200px;
        position: relative;
        top: 0;
        left: 0;
        background-color: var(--navbar);
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list li {
        margin: 1rem 0;
        text-align: center;
    }

    /* Hero */

    .logo-hero {
        width: 80vw;
        height: 250px;
        border-radius: 100px;
    }
}